---
import HeroJoi from "../components/HeroJoi.astro";
import CTA from "../components/CTA.astro";
import JoiBenefits from "../components/JoiBenefits.astro";
import Layout from "../layouts/Layout.astro";
import NFCPay from "../components/NFCPay.astro";
import BandBenefits from "../components/BandBenefits.astro";
import JoiVideo from "../assets/joi-video.mp4";
---

<Layout title="Joi Taq" description="Transforma la experiencia de pago con Joi Taq. Solución NFC segura, digital e innovadora para escuelas, eventos, estadios y más.">
  <HeroJoi />

  <section>
    <div
      class="max-w-screen-xl w-full flex flex-col mx-auto px-4 py-16 items-center mb-20"
    >
      <div
        class="border flex items-center gap-2 px-6 py-1 rounded-full text-center text-neutral-500 text-sm md:text-lg mb-6 font-medium bg-neutral-50 border-neutral-200 shadow-2xl"
      >
        <i class="fa-solid fa-bullseye text-tertiary ml-2"></i>
        <span class="flex items-center gap-1">Enfoque</span>
      </div>
      <p
        class="text-xl md:text-3xl font-medium text-neutral-700 text-center leading-[1.5em] text-balance px-5"
      >
        Transforma la experiencia de pago de tus clientes, brindándoles más control, agilidad y generando <span class="text-tertiary">más valor</span> en cada transacción.
      </p>
      <div class="mt-10">
        <video
          src={JoiVideo}
          class="w-full max-w-3xl rounded-2xl shadow-lg"
          controls
          autoplay
          muted
          loop
        ></video>
      </div>
    </div>
  </section>

<BandBenefits />
  <NFCPay />

  <JoiBenefits />
  <CTA
    description="Solicitalo hoy y transforma la experiencia de pago en tu escuela, evento, estadio, centro comercial y más con una solución segura, digital e innovadora."
  />
</Layout>
