---
import { Image } from "astro:assets";
import heroBg from "../assets/hero-bg.svg";
import Layout from "../layouts/Layout.astro";
import JoiSolutionsIcon from "../icons/JoiSolutionsIcon.astro";
import Purpose from "../components/Purpose.astro";
import CTA from "../components/CTA.astro";
import MisionAndVision from "../components/MisionAndVision.astro";
import RedJoi from "../components/RedJoi.astro";

const sections = [
  {
    title: "Nuestra historia",
    description:
      "Rediseñamos la forma en que las personas y los negocios se conectan. Creamos soluciones tecnológicas que simplifican lo complejo, acercan oportunidades y transforman lo cotidiano en experiencias inteligentes.",
    image: heroBg,
    imageAlt: "Background",
  },
  {
    title: "Nuestra misión",
    description:
      "Impulsar la innovación tecnológica con propósito, creando soluciones que transformen vidas y negocios.",
  },
  {
    title: "Nuestra visión",
    description:
      "Ser el referente en soluciones tecnológicas que conectan personas y negocios, impulsando un futuro más inteligente y accesible para todos.",
  },
];
---

<Layout title="Nosotros" description="Somos el puente entre la innovación y quienes la hacen posible. Conoce la historia, misión y visión de Joi Solutions.">
  <section class="relative overflow-hidden">
    <!-- bg gradient bottom -->
    <!-- <div
    class="absolute inset-0 bg-gradient-to-b from-neutral-50 to-tertiary-dark/40 opacity-10"
  >
  </div> -->
    <div
      class="w-full flex flex-col items-center pt-36 pb-10 overflow-hidden justify-center px-4 md:pl-2 relative min-h-[60vh] 3xl:h-[10vh]"
    >
      <div
        class="border border-neutral-200 px-6 py-2 rounded-full text-center text-neutral-500 text-sn md:text-lg mb-6 font-harabara animate-button bg-white"
      >
        <span class="flex items-center gap-1">
          <span class="text-tertiary font-harabara"><JoiSolutionsIcon /></span
          ></span
        >
      </div>
      <div
        class="text-[2em] leading-[1.3em] xl:text-6xl 3xl:text-[5em] flex flex-col gap-2 items-center text-neutral-700 text-center text-balance md:max-w-[30ch]"
      >
        <span class="font-medium animate-text">
          Somos el puente entre la <span class="text-tertiary font-bold"
            >innovación</span
          ><br />
          y quienes la hacen posible<span class="text-tertiary">.</span>
        </span>
        <small
          class="px-2 text-sm md:text-xl text-neutral-500 animate-text text-balance"
        >
          Tecnología con propósito, equipo con visión<span class="text-tertiary"
            >.</span
          >
        </small>
      </div>
      <div
        class="mt-10 text-sm md:text-lg flex items-center gap-2 text-neutral-800"
      >
        <a
          href="/contacto"
          class="bg-primary px-8 text-white py-3 rounded-full shadow-lg cursor-trigger cursor-pointer border border-primary animate-button relative z-[40]"
        >
          <span class="relative z-[60] font-medium">Conversemos</span>
          <i class="fa fa-arrow-right text-tertiary ml-2"></i>
        </a>
      </div>
    </div>
  </section>
  <div class="absolute inset-0 -z-[10] pointer-events-none">
    <Image
      src={heroBg}
      alt="Background"
      class="w-full h-full object-cover opacity-50"
      loading="lazy"
      width={1920}
      height={1080}
      priority
    />

    <!-- Overlay radial para enfocar el centro -->
    <div
      class="absolute top-0 left-0 w-full h-full bg-[radial-gradient(ellipse_at_60%_40%,_rgba(0,0,0,0)_0%,_rgba(255,255,255,0.8)_60%)] pointer-events-none mix-blend-screen"
    >
    </div>
  </div>
  <Purpose />
  <MisionAndVision />
<RedJoi />
  <CTA />
</Layout>

<script>
  import gsap from "gsap";
  import { SplitText } from "gsap/SplitText";

  gsap.registerPlugin(SplitText);

  const animateButton = document.querySelectorAll(
    ".animate-button"
  ) as NodeListOf<HTMLElement>;
  const splitText = new SplitText(".animate-text", {
    type: "words",
    aria: "hidden",
  });

  const words = splitText.words;
  const tl = gsap.timeline({
    defaults: { duration: 0.5, ease: "power2.out" },
  });
  // tl.delay(2.5);
  tl.from(words, {
    opacity: 0,
    stagger: 0.1,
    duration: 2,
    ease: "sine.out",
  });

  animateButton.forEach((button) => {
    tl.from(
      button,
      {
        opacity: 0,
        scale: 0.8,
        duration: 0.5,
        ease: "power2.out",
      },
      "<0.5"
    );
  });
</script>
