---
import { Image } from "astro:assets";
const benefits = [
  {
    title: "Transformación digital ágil",
    description:
      "Automatiza procesos y mejora la eficiencia sin complicaciones.",
    icon: "fa-solid fa-plug",
  },
  {
    title: "Crecimiento sin límites",
    description:
      "Escalabilidad real para avanzar a tu ritmo, desde startups hasta corporativos.",
    icon: "fa fa-chart-line",
  },
  {
    title: "Interacciones inteligentes",
    description:
      "Cada punto de contacto se vuelve más fluido, intuitivo y productivo.",
    icon: "fa-solid fa-cogs",
    
  },
  {
    title: "Conectividad inteligente",
    description:
      "Haz cada interacción más simple, significativa y eficiente.",
    icon: "fa-solid fa-network-wired",
    },
    {
    title: "Innovación con propósito",
    description:
      "Creamos soluciones que conectan, transforman y generan valor.",
    icon: "fa fa-lightbulb",
    },
    {
    title: "Confianza y transparencia",
    description:
      "Tecnología segura, procesos confiables y comunicación clara.",
    icon: "fa fa-shield-alt",
    },
];
---

<section class="bg-neutral-50 border-y border-neutral-200">
  <div class="flex flex-col md:flex-row items-start gap-6 max-w-7xl mx-auto py-8 benefits-container pt-10 md:pt-28 md:h-[65vh] 3xl:h-[40vh]">
    <div class="flex-1 flex flex-col items-center md:items-start  md:w-1/2 md:pr-5 benefits-text-container">
      <div
        class="border flex items-center gap-2  px-6 py-1 rounded-full text-center text-neutral-500 text-sm md:text-lg font-medium mb-6  bg-neutral-50  border-neutral-200 shadow-2xl"
      >
        <i class="fa-solid fa-star text-tertiary"></i>
        <span class="flex items-center  gap-1 ">Beneficios</span>
      </div>
      <h2 class="text-2xl md:text-3xl font-medium text-neutral-700 text-center md:text-left">
        Expandiendo horizontes, conectando posibilidades
      </h2>
      <p class=" text-neutral-700 text-sm md:text-lg  text-balance text-center md:text-left max-w-[50ch] mt-5">
        Descubre cómo nuestras soluciones pueden transformar tu 
        la forma de interactuar y crecer en el mundo digital.
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2  gap-10 px-6 md:px-0  md:w-3/5 benefits-items-container">
      {
        benefits.map((benefit) => (
          <div class=" flex flex-col items-center md:items-start  p-2">
            <div class="  relative mb-4 bg-white flex items-start justify-start p-4 border border-neutral-200 rounded-lg">
              <i class={benefit.icon + " text-tertiary text-3xl "} />
            </div>
            <div class="flex items-center mb-4">
              {/* <i class={benefit.icon + " text-tertiary text-3xl mr-4"} /> */}
              <h3 class="text-xl md:text-2xl font-medium text-neutral-700 text-center md:text-left">
                {benefit.title}
              </h3>
            </div>
            <p class="text-neutral-700 text-sm md:text-lg text-center md:text-left">{benefit.description}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>


<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);
  const isDesktop = window.matchMedia("(min-width: 768px)").matches;
  const benefitsContainer = document.querySelector(
    ".benefits-container"
  ) as HTMLElement;
  const  benefitsTextContainer = document.querySelector(
    ".benefits-text-container"
  ) as HTMLElement;
  const benefitsItemsContainer = document.querySelector(
    ".benefits-items-container"
  ) as HTMLElement;

  const mediaHeight = benefitsItemsContainer.scrollHeight;
  const textHeight = benefitsTextContainer.offsetHeight;

  const tl = gsap.timeline({});

  if(isDesktop) {
   tl.to(benefitsTextContainer, {
    scrollTrigger: {
      trigger: benefitsContainer,
      start: "top top",
      scrub: true,
      end: `+=${mediaHeight - textHeight}`,
      pin: true,
    },
  }).to(benefitsItemsContainer, {
    y: -(mediaHeight - textHeight),
    ease: "none",
    scrollTrigger: {
      trigger: benefitsContainer,
      start: "top top",
      end: `+=${mediaHeight - textHeight}`,
      scrub: true,
    },
  });
  } 

</script>
